html,
body {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: "Montserrat";
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  
}
#header-placeholder {
    position: sticky;
    top: 0;
    z-index: 900; 
    background-color: #e5e5e5;
}

#conteudo-principal{
  display: flex;
  flex: 1 0 auto;
  
  
}

@font-face {
  font-family: "montserrat";
  src: url("./font/Montserrat-Regular.woff2") format("woff2"), url("./font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "montserrat";
    src: url("./font/Montserrat-Bold.woff2") format("woff2"), url(".font/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "Tussilago";
  src: url("./font/tussilagorg-bold.ttf") format("truetype");
}

.superior {
  position: fixed;
  display: flex;
  height: 130px;
  min-height: 80px;
  background-color: #e5e5e5;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  gap: 2vw;
  justify-content: space-evenly;
  z-index: 1000;

}

.logosup {
  display: flex;
  height: 100%;
  width: 260px;
  align-items: flex-start;
  justify-content: flex-end;
  

}
  
.logosup img {
  width: 100%;
    width: 260px;

  
}

.mainmenu {

  width: 850px;
  display: flex;
  height: 130px;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";

}

.ulsup {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex: 1;
  align-items: center;
  padding: 0px 5vw;
  gap: 1vw;
  width: 100%;
}

.lisup {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 135px;
  text-wrap-mode: nowrap;
  transition: 1s;
}
.lisup:hover{
  font-weight: bold;
cursor: pointer;
}

.div-menu-dropdown{
  display: flex;
  font-weight: 400;
  position: fixed;
  padding: 0px;
  width: 170px;
  height: auto;
  background: #5c7f94;
  top: 80px;
  z-index: 1001;
}
.div-menu-dropdown::before {
  content: '';
  position: absolute;
  inset: -20px 0 0 0;
}
.div-menu-dropdown ul{
  list-style: none;
  padding: 20px;
  
}
.div-menu-dropdown li:not(:last-child){
margin-bottom: 16px;
}

.div-menu-dropdown li a:hover{
font-weight: bold;
}

.div-menu-dropdown li a {
  position: relative;
  z-index: 1002; 
  display: block;
  width: 100%;
color: rgb(237, 238, 235);
  text-decoration: none;
  font-size: 14px;
  
}
.menudireita {
  min-width: 80px;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

#shayeb, #marcas, #produtos{
  display: none;
}

#topshayeb:hover #shayeb {
  display:flex
}

#topmarcas:hover #marcas {
  display:flex
}
 #topprodutos:hover #produtos {
  display:flex;
 }

.faleconosco {
  display: flex;
  align-self: flex-end;
  top: 40%;
  position: fixed;
  width: 50px;
}

.imgfaleconosco {
  width: 100%;
}

/* ----------- principal ------------*/

main {
  display: flex;
  position: relative;
  
}

.containervideo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 0;
}
.containervideo video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
svg {
  display: block;
  z-index: 998;
  position: absolute;
  left: 0;
  bottom: -3px;

}

.principal {
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  width: 100%;
 
}
.principal div:not(.containervideo){
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "montserrat";
}
.divtexto1{
    display: flex;
    width: 100%;
    padding-left: 20vw;
     padding-right: 20vw;
    padding-bottom: 0px;
    padding-top: 100px;
    text-align: center;
    font-size: clamp(20px, 1.4vw, 30px);
    justify-content: center;
    color: #414141;
   
}
    .divtexto2{
    display: flex;
    width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 0px;
    padding-top: 100px;
    text-align: center;
    font-size: clamp(25px, 4vw, 50px);
    justify-content: center;
    color: #414141;

}
.nossasmarcas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding-top: 0px;
    font-family: "tussilagorg-bold";
    font-weight: 900;
    font-size: clamp(30px, 3vw, 50px);
}
.bolas{
  display: flex;
  justify-content: space-around;
  padding: 0 10vw;
  width: 100%;
  gap: 1vw;
}
.bolas img:hover{
  transform: scale(1.05);
}
.bolas img{
transition: 0.5s;
width: 90%;
}
.bola{
  display: flex;
  width: 20%;
  max-width: 180px;
  background-color: #5c7f94;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  aspect-ratio: 1 / 1;
  
}
.sus_grid{
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  justify-content: space-around;
  width: 100%;
  padding: 0 12vw;
  gap: 3vw;
}
.sus_grid p{
  font-weight: bold;
  font-size: 1vw;
}
.sus_grid img{
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.divsus{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.divsus div{
display: flex;
justify-content: center;
width: 100%;
overflow: hidden;
border-radius: 100%;
aspect-ratio: 1 / 1;
}
.divsus:hover img{
 transform: scale(1.1);
object-fit: cover;
}
.divsus:hover p{
color: #5c7f94;
}

/*--------------------------------------- rodape aqui -----------------------------------*/

.containerfooter{
  max-width: 100vw;
   background-color: #5c7f94;
}

.divfooterlogo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #5c7f94;
}

.footerlogo {
  height: 80%;
}
.footergrid {
  font-family: "montserrat";
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 2vw; 
  width: 100%;
  min-height: 300px;
  padding: 60px 10vw;
  box-sizing: border-box;
  background-color: #5c7f94;
}
.footergrid a{
  text-decoration: none;
  color: #e5e5e5;
  cursor: pointer;
  transition: 0.5s;
}
.footergrid a:hover{
  text-decoration: none;
  color: #aeaeae;
  cursor: pointer;
}

.coluna {
  display: flex;
  flex-direction: column;
  color: #e5e5e5;
  text-align: left;
  height: 100%;
  justify-content: flex-start;
  font-size: clamp(14px, 1vw, 30px);

}
.rsoc{
  display: flex;
  width: 50%;
  height: 30%;
  justify-content:flex-start;
  gap: 10%;
  padding-bottom: 2vw;
}
.rsoc img{
  width: 100px;
}

.colunamenu {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 17px;
  color: #e5e5e5;
}

.colunamenu ul {
  list-style: none;
  padding: 0px;
}

.colunamenu li {
  margin-bottom: 5px;
  font-size: clamp(12px, 0.8vw, 30px);
}


/*--------------- FONTES -----------*/
.strong {
  font-weight: 900;
  font-size: clamp(12px, 1.0vw, 30px);
  margin: 0;
  line-height: 1.4;
  margin: 0;
}

.strongb {
  font-weight: bold;
  font-size: clamp(16px, 1.7vw, 40px);
  margin: 20px 0;
  line-height: 1.4;
  margin: 0;

}

.regular {
  font-weight: 100;
  font-size: clamp(12px, 0.8vw, 30px);
  line-height: 1.4;
  margin: 0;
}

.red{
  color: rgb(87, 0, 0);
}
.blue{
  color: #5c7f94;
}
.green{
  color: #39804b;
}

.headingsub{
  color:#727272;
  font-family: "montserrat";
  font-size: clamp(30px, 4vw ,60px)
}
/*--------------- SUBPAGINAS -----------*/

.subpagina{
  background-color:#cfcfcf;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  min-width: 100%;
  height: auto;
  gap: 3vw;
  padding: 10vw 7vw;
  box-sizing: border-box;
  flex: 1;
}
.subpagina div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1 1 300px;
  width: 35vw;
  min-width: 300px;
  padding: 0;
  margin: 0;
  top: 0px;
  gap: 1.5vw;

}
.quemsomosimg{
  width: 100%;
  min-width: 200px;
  height: auto;
 object-fit: contain;
}
.quemsomosimg2{
  width: 100%;
  min-width: 200px;
  height: auto;
  object-fit: contain;
}

.subpagina p{
  font-family: "montserrat";
  font-size: clamp(10px, 0.95vw ,20px);
  margin-top: 0;
  margin-bottom: 0px;
}
  .subpagina b{
font-family: "Montserrat";
font-weight: bold;
  
}

.menulateral{
  display: none;
}

/* RESPONSIVIDADE MOBILE VAI DA TRABAIO =) */

@media (max-width: 900px){
  .ulsup{
   display: none;
  }

   .subpagina div{
    flex-wrap: wrap;
    max-width: 100%;
    flex: 1 1 100%;
    min-width: 100%;

  }
  .subpagina p{
  font-family: "montserrat";
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 0px;
  }

  html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: "Montserrat";
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}
.bolas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10vw;
  width: 100%;
  gap: 1vw;
}
.sus_grid{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.divsus{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.divsus div{
display: flex;
justify-content: center;
width: 100%;
overflow: hidden;
border-radius: 100%;
aspect-ratio: 1 / 1;
}
.sus_grid p{
  font-weight: bold;
  font-size: 4vw;
}
.divtexto1{
    display: flex;
    width: 100%;
    padding-left: 10vw;
     padding-right: 10vw;
    padding-bottom: 0px;
    padding-top: 50px;
    text-align: center;
    font-size: clamp(10px, 4.9vw, 30px);
    justify-content: center;
}
.divtexto2{
  display: flex;
   width: 100%;
  padding: 0 12vw 30px;
  text-align: center;
  font-size: clamp(20px, 7vw, 100px);
  justify-content: center;
  padding-top: 0px;
  margin-top: 80px;
  line-height: 1;
}

  .divfooterlogo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color:#5c7f94;
  padding-top: 60px;
  padding-bottom: 0px;
}

.footerlogo {
  width:40%;
}
.containervideo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  overflow: hidden;
  margin-top: 0;
}
.containervideo video {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
 
}
svg {
  display: block;
  z-index: 800;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: auto;
  transform: scale(0.5);
  transform-origin: bottom left;
}

.menudireita, .mainmenu{
  display: none;
}

.containerfooter{
  max-width: 100vw;
   background-color: #5c7f94;
   font-size: clamp(14px, 3vw, 30px);

}
.footergrid {
  font-family: "montserrat";
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 2vw; 
  width: 100%;
  min-height: 300px;
  padding: 60px 2vw;
  box-sizing: border-box;
  background-color: #5c7f94;
  
}
.footergrid a{
  text-decoration: none;
  color: #e5e5e5;
  cursor: pointer;
  transition: 0.5s;
  font-size: clamp(14px, 3vw, 30px);
}
  .coluna{
width: 100%;
padding: 0 8vw;
justify-content: flex-start;
margin-top: 20px;
font-size: clamp(14px, 3vw, 30px);

  }
.rsoc{
  display: flex;
  width: 200px;
  justify-content:flex-start;
  gap: 10%;
  padding-bottom: 2vw;
}
rsoc img{
  width: 60%;
}

.colunamenu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #e5e5e5;
  justify-content: space-between;
  margin: 0;
  left: 0;
}
.colunamenu div{
  min-width: 30vw;
  margin: 0;
  left: 0;
  padding: 0;

}

/* ------------ menu hamburguinho (toggler) bora la ------------*/

.superior {
  position: fixed;
  display: flex;
  height: 70px;
  min-height: 70px;
  background-color: #e5e5e5;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 5vw;
}
.logosup {
  display: flex;
  width: 150px;
  min-width: 120px;
  justify-content: flex-start;
}

.logosup img{
  display: flex;
  width: 100%;
  min-width: 0;
}
.hamburger{
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  gap: 6px;
  justify-content: center;
  z-index: 99999;
  pointer-events: auto;
  position: relative;
  cursor: pointer;
}
.bar{
  background: #5c7f94;
  width: 30px;
  height: 3px;
}
.menulateral{
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100dvh;
  background: #f0f0f0;
  z-index: 9999;
  position: fixed;
  overflow-y: auto;
  left: -60vw; 
  transition: 0.4s ease-in-out;
  top: 0px;
  flex-shrink: 0;

}
.menulateral.active {
    left: 0;
  }
.menulateral ul{
  list-style: none;
}

.lateral-dropdown-sub ul{
  padding: 0px
}
.lateral-dropdown-sub ul a{
  color: #7398af;
  text-decoration: none;
}
.lateral-dropdown-sub ul li{
border-bottom: 1px solid #7398af;
border-top: 1px solid #7398af;
margin-top: -1px;
padding: 10px 0px 0px 5px;
}
.lateral-dropdown-sub ul li:hover{
  color: #83b1cd;
}
#lateralheading{
    color: #5c7f94;
    text-decoration: none;
font-weight: 900;
font-size: 20px;
display: block;
padding-top: 25px;
}

#lateralheading:hover{
  color: #6a91a9;
}

.hamburger.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
  .hamburger.active .bar:nth-child(2) { opacity: 0; }
  .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
    }