html,
body {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: "Montserrat";
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
#header-placeholder {
    position: sticky;
    top: 0;
    z-index: 999; 
    background-color: #e5e5e5;
}

@font-face {
  font-family: "montserrat";
  src: url("./font/Montserrat-Regular.woff2") format("woff2"), url("./font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "montserrat";
    src: url("./font/Montserrat-Bold.woff2") format("woff2"), url(".font/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "Tussilago";
  src: url("./font/tussilagorg-bold.ttf") format("truetype");
}

.superior {
  position: fixed;
  display: flex;
  width: 100%;
  height: 130px;
  min-height: 100px;
  background-color: #e5e5e5;
  align-items: center;
}

.logosup {
  display: flex;
  width: 25%;
  height: 100%;
  padding-left: 50px;
  justify-content: flex-end;
  align-items: flex-start;
}
.logosup a {
    display: block;
    width: 100%; 
    height: 100%;
    display: flex;
  padding-left: 50px;
  justify-content: flex-end;
  align-items: flex-start;
}

.logosup img {
  width: 63%;
  min-width: 200px;
}

.mainmenu {
  display: flex;
  height: 130px;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  flex: 1;
  width: 50%;
}

.ulsup {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex: 1;
  align-items: center;
  padding: 0px 145px;
  gap: 10px;
}

.lisup {
  display: flex;
  font-size: clamp(10px, 1.1vw, 17px);
  position: relative;
  justify-content: center;
  align-items: center;
  text-wrap-mode: nowrap;
}

.menudireita {
  display: flex;
  width: 18%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.lisup:hover {
  font-weight: 999;
  cursor: pointer;
}

.iframecontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 130px;
}

.topgap {
  height: 130px;
}

.faleconosco {
  display: flex;
  align-self: flex-end;
  top: 40%;
  position: fixed;
  width: 50px;
}

.imgfaleconosco {
  width: 100%;
}

.containervideo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 0;
}

svg {
  z-index: 900;
  position: absolute;
  bottom: 0;
  left: 0;
}

main {
  display: flex;
  position: relative;
}

.principal {
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  width: 100%
}
.principal div:not(.containervideo){
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "montserrat";
}
.texto1{
    width: 100%;
    padding-left: 20vw;
     padding-right: 20vw;
    padding-bottom: 0px;
    padding-top: 100px;
    text-align: center;
    font-size: clamp(15px, 1.4vw, 30px);
    justify-content: center;

}
.nossasmarcas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding-top: 0px;
    font-family: "tussilagorg-bold";
    font-weight: 900;
    font-size: clamp(20px, 3vw, 50px);
}
.bolas{
  display: flex;
  justify-content: space-around;
  padding: 0 200px;
  width: 100%;
  gap: 10px;
}
.bolas img:hover{
  transform: scale(1.05);
}
.bolas img{
transition: 0.5s;
width: 90%;
}
.bola{
  display: flex;
  width: 20%;
  max-width: 180px;
  background-color: #5c7f94;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  aspect-ratio: 1 / 1;
  
}
.sus_grid{
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  justify-content: space-around;
  width: 100%;
  padding: 0 12vw;
  gap: 3vw;
}
.sus_grid p{
  font-weight: bold;
  font-size: 1vw;
}
.sus_grid img{
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.divsus{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.divsus div{
display: flex;
justify-content: center;
width: 100%;
overflow: hidden;
border-radius: 100%;
aspect-ratio: 1 / 1;
}
.divsus:hover img{
 transform: scale(1.1);
object-fit: cover;
}
.divsus:hover p{
color: #5c7f94;
}
.red{
  color: rgb(87, 0, 0);
}
.blue{
  color: #5c7f94;
}
.green{
  color: #39804b;
}
.coluna {
  display: flex;
  flex-direction: column;
  color: #e5e5e5;
  text-align: left;
  height: 100%;
  justify-content: flex-start;
  min-width: 20%;
  font-size: clamp(8px, 1vw, 30px);

}
.rsoc{
  display: flex;
  width: 50%;
  height: 30%;
  justify-content:flex-start;
  gap: 10%;
  padding-bottom: 2vw;
}
.rsoc img{
  width: 18%;
}

.footer {
  font-family: "montserrat";
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  width: 100%;
  height: 300px;
  padding: 0 140PX;
  box-sizing: border-box;
  background-color: #5c7f94;
  flex-wrap: wrap;
  
}
.footer a{
  text-decoration: none;
  color: #e5e5e5;
  cursor: pointer;
  transition: 0.5s;
}
.footer a:hover{
  text-decoration: none;
  color: #aeaeae;
  cursor: pointer;
}
.divfooterlogo {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #5c7f94;
}

.footerlogo {
  height: 80%;
}

.strong {
  font-weight: 900;
  font-size: clamp(12px, 1.0vw, 30px);
  margin: 0;
  line-height: 1.4;
  margin: 0;
}

.strongb {
  font-weight: bold;
  font-size: clamp(16px, 1.7vw, 40px);
  margin: 20px 0;
  line-height: 1.4;
  margin: 0;

}

.regular {
  font-weight: 100;
  font-size: clamp(12px, 0.8vw, 30px);
  line-height: 1.4;
  margin: 0;
}

.colunamenu {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 17px;
  white-space: nowrap;
  width: 100%;
  color: #e5e5e5;
  
}

.colunamenu ul {
  list-style: none;
  padding: 0px;
}

.colunamenu li {
  margin-bottom: 5px;
  font-size: clamp(12px, 0.8vw, 30px);
}


/* RESPONSIVIDADE MOBILE VAI DA TRABAIO =) */


